[{
    lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, debug}]}
                     ]}
          %% Any other sinks

         ]
 },
 {
    brod, [{ 
			clients, [
            	{
                	local_client , [ 
						{ endpoints, [{"localhost", 9092}]} , 
						{ query_api_versions, false}
						]}
					]
		}]
 },
 {
    handlers,[	
		{test_key, test_value}, 
		{avro_schema_dir, "./resources"} 
	]
 }
].