{deps, [
        {lager, "3.9.2"},
        {elli, "3.3.0"},
        {jiffy, "1.0.8"},
        {uuid, "2.0.2", {pkg, uuid_erl}},
        {erlavro, "2.9.3"},
        {hackney, "1.17.4"},
        {jwerl, "1.1.0"}
    ]}.
{plugins, [rebar3_hex]}.
{plugins, [rebar3_run]}.
{plugins, [rebar3_auto]}.

{erl_opts, [ warn_unused_vars
  , warn_export_all
  , warn_shadow_vars
  , warn_unused_import
  , warn_unused_function
  , warn_bif_clash
  , warn_unused_record
  , warn_deprecated_function
  , warn_obsolete_guard
  , strict_validation
  , warn_export_vars
  , warn_exported_vars
  %% , warn_missing_spec
  , warn_untyped_record
  , debug_info
  , {platform_define, "^[0-9]+", namespaced_types} , {parse_transform, lager_transform}]}.
{cover_print_enabled, true}.
{cover_enabled, true}.
{lager_extra_sinks, [audit]}.

{relx, [{release, {networking, "1.0"}, [main]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {dev_mode, true},
        {include_erts, false}
    ]}.

{profiles, [
    {prod, [
        {erl_opts, [debug, warn_shadow_vars, warn_obsolete_guard, warn_unused_import, {parse_transform, lager_transform}]},
        {cover_print_enabled, true},
        {cover_enabled, true},
        {lager_extra_sinks, [audit]},
        {relx, [{dev_mode, false}]}
    ]}
]}.